.quill .ql-editor {
  height: 5rem;
  overflow-y: scroll;
}
.quill .ql-toolbar.ql-snow {
  border: none;
}
.quill .ql-container.ql-snow {
  min-height: 0.5rem;
}

.quill .ql-editor p img {
  max-width:2rem;
  display: inline-block;
}
