.main__wrapper {
  display: flex;
  width: 100vw;
  margin: auto;
}
.home__wrapper {
  position: relative;
  background-color: var(--bg-color);
}
.main__wrapper-notes {
  width: 100%;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-color);
}
.notes__editor {
  width: 60%;
  margin: 1rem auto;
  background-color: var(--bg-color);
  text-align: center;
  border: 1px solid black;
  position: relative;
  margin-bottom: 5rem;
  border-radius: 0.3rem;
}
.notes__editor-title {
  width: 100%;
  border: none;
  height: 2rem;
  padding: 0 10px;
}
.editor__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  /* background-color: green; */
}
.btn_sec {
  padding: 0.2rem 1rem;
  border: 1px solid var(--primary-color);
  margin: 0 1rem 0 0;
  background-color: var(--bg2-color);
  cursor: pointer;
}
.editor__buttons-start {
  margin: 0 0 0 0.5rem;
}
.editor__icons {
  margin: 0 0 0 0.2rem;
  cursor: pointer;
  color: var(--primary-color);
}
.notes__wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  gap: 1rem;
 
}
.pinned__list {
  width: 100%;
  text-align: center;
  height: 1.5rem;
}
.tag__input {
  width: 100%;
  padding: 5px 0.8rem;
  border: none;
}
@media screen and (max-width:668px) {
  .main__wrapper{
    margin-top:4rem;
  }
  
}
@media screen and (max-width:850px){
  .notes__editor{
    min-width:80%;
  }
}
@media screen and (max-width:380px){
  .notes__editor{
    min-width:90%;
  }
}