.notescard {
    min-width: 22rem;
    max-width: 25rem;
    height: fit-content;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    padding: 6px 9px;
    word-wrap: break-word;
    position: relative;
    border-radius: 10px;
    margin-bottom: 1rem;;
  }
  .notescard:hover{
    box-shadow: var(--box-shadow);
  }
  .title__pin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  .note__desp {
    min-height: 4rem;
    font-weight: 100;
    font-size: 0.8rem;
  }
  .notecard__desp2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .note__title {
    color: var(--primary-color);
    word-break: break-all;
  }
  .note__desp img{
    max-width:10rem;
  }
  .note__tag{
    width: fit-content;
    padding: 3px 5px;
    border:1px solid white;
    border-radius: 5px;;
    background-color: white;
  }
  .card__priority{
    border:2px solid rgb(248, 158, 158);
    width:fit-content;
    padding:2px;
  }

  @media screen  and (max-width:380px){
    .notescard{
      min-width:20rem;
      margin:0 0.2rem;
    }
    
  }